* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(20, 20, 20, 0.705);
}
.login-txt-cnt{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    p{
        font-size: 30px;
    }
}


.login-main-cnt {
    background-color: white;
    width: 350px;
    height: 320px;
    margin: auto;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
}

.login-email-cnt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    #login-email-txt{
        font-size: 20px;
    }
    #login-inp-txt{
        width: 97%;
        height: 40px;
        font-size: 17px;
        border: 1px solid gray ;
        border-radius: 10px;
    }
}

.login-password-cnt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    #login-email-txt{
        font-size: 20px;
    }
    #login-inp-txt{
        width: 97%;
        height: 40px;
        font-size: 17px;
        border: 1px solid gray ;
        border-radius: 10px;
    }
}
.login-btn-cnt{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    #login-btn1{
        width: 40%;
        height: 40px;
        background-color: rgba(226, 29, 62, 0.849);
        border: none;
        border-radius: 10px;
    }
    #login-btn1:hover {
        background-color: rgba(226, 29, 62, 0.973);
        box-shadow: 4px 5px 4px rgba(226, 29, 62, 0.849);
    }
    #login-btn2{
        width: 40%;
        height: 40px;
        border: none;
        border-radius: 10px;
    }
    #login-btn2:hover {
        background-color: rgba(128, 128, 128, 0.678);
        box-shadow: 4px 5px 4px rgba(128, 128, 128, 0.836);
    }
}
